################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Chessgame/.vs/Chessgame/v15/Browse.VC.opendb
/.vs/Chessgame/v15/Browse.VC.opendb
